<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutoupdaterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1989/Autoupdater.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAutoupdaterService"
                contract="AutoupdaterService.IAutoupdaterService" name="BasicHttpBinding_IAutoupdaterService" />
        </client>
    </system.serviceModel>
</configuration>